<div class="footer__socials social-icons-container">

    {% for pair in site.data.settings.social_settings %}
      {% assign service = pair[0] %}
      {% assign url = pair[1] %}
      {% if url %}
        <span class="social-icon-wrapper">
          <a href="{{ url }}" target="_blank" title="{{ service | capitalize }}">
            <i class="fa fa-{{ url[0] | replace: 'facebook', 'facebook-f' | remove: '_url' }}" aria-hidden="true"></i>
          </a>
        </span>
      {% endif %}
    {% endfor %}
</div>